* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.logo img {
    width: 164px;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.right ul {
    display: flex;
    gap: 34px;
}

.right ul li {
    list-style: none;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: color 0.3s;
}

.right ul li:hover {
    color: #e2a31b;
}

.right ul li span {
    padding: 0 5px;
}

.first {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 32px;
}

.first span {
    font-size: 30px;
    font-weight: 500;
}

.section span img {
    width: 23px;
    margin: 0 12px
}

.first p {
    font-size: 17px;
    width: 44vw;
    text-align: center;
}



.first button {
    background-color: #e2a31b;
    color: #ffffff;
    padding: 8px 13px;
    border-style: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
    
}



.first button:hover {
    background-color: #d3930a;
}

.flex {
    display: flex;
}

.small {
    font-size: 15px;
}

.second {
    max-width: 70vw;
    margin: auto;
}

.green {
    background-color: rgb(30, 179, 0);
}

.blue {
    background-color: rgb(1, 151, 238);
}

.second button {
    border: none;
    padding: 8px 13px;
    border-radius: 5px;
    color: white;
    margin: 5px 0px;
    cursor: pointer;
}

.second button.blue:hover {
    background-color: rgb(2, 131, 206);
}

.second button.green:hover {
    background-color: rgb(27, 158, 1);
}

.item {
    padding: 23px;
    background: #e3dddd;
    border-radius: 12px;
    text-align: center;
}

.item-lang {
    font-weight: 700;
    text-align: center;
    padding-bottom: 38px;
    font-size: 20px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
}

.download:nth-child(1) {
    font-size: 20px;
}

.download {
    display: flex;
    align-items: center;
    gap: 10px;
}

.download img {
    padding: 12px 12px;
}

.btn a{
    text-decoration: none;
    color: white;
}

@media screen and (max-width: 777px) {
    .grid {
        grid-template-columns: 1fr;
    }
}